<ion-view view-title="用户登录">
    <ion-content>
        <form class="form" name="form" ng-submit="login(form)" novalidate>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">手机号</span>
                <input type="tel" name="mobilePhone" ng-model="user.mobilePhone" required>
            </label>
            <label class="item item-input">
                <span class="input-label">密码</span>
                <input type="password" name="password"  ng-model="user.password" required>
            </label>
        </div>
        <p class="help-block" ng-show="form.mobilePhone.$error.required && form.password.$error.required && submitted">
            请输入手机号和密码
        </p>
        <p class="help-block" ng-show="form.mobilePhone.$error.mobilePhone && submitted">
            请输入正确手机号
        </p>

        <p class="help-block">{{ errors.other }}</p>
        <div class="padding">
            <button class="button button-block button-positive" type="submit">登 陆</button>
        </div>
        <div class="padding" style="float:right;font-weight: bold"><a href="#/register">没有账号?点击注册</a></div>
            </form>
    </ion-content>
</ion-view>
