<ion-view view-title="短信">
  <ion-content>
  <div class="list list-inset addHistory" >
  <label class="item item-input">
    <textarea rows="5" style="line-height:25px;" readonly="readonly">{{selectedTemplate.content}}</textarea>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      选择模板
    </div>
    <select ng-options="template.templateId for template in templates" ng-model="selectedTemplate" required>
    </select>
  </label>
  <button class="button button-block button-positive">发送</button>
  </div>
  </ion-content>
</ion-view>
