<ion-view view-title="添加模板">
<ion-content>
<div class="padding tempAdd" >
  <label class="item item-input">
    <input type="text" placeholder="请输入模板编号">
  </label>
  <li class="item item-toggle">
    内容是否包含编号
    <label class="toggle toggle-positive">
      <input type="checkbox" checked="">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </li>
  <div class="title">模板内容(超过71个字符将按两条发送)：</div>
  <label class="item item-input">
    <textarea rows="5" style="line-height:25px;">快递编号#编号#</textarea>
  </label>
  <button class="button button-block button-positive">确定</button>
</div>
</ion-content>
</ion-view>
